@charset "UTF-8";
/* Kanto */
.vforest   { background-image: url(/images/backgrounds/kanto/vforest.png); }
.mtmoon   { background-image: url(/images/backgrounds/kanto/mtmoon.png); }
.rtunnel    { background-image: url(/images/backgrounds/kanto/rtunnel.png); }
.digcave     { background-image: url(/images/backgrounds/kanto/digcave.png); }
.kszone     { background-image: url(/images/backgrounds/kanto/kszone.png); }
.pwrplnt     { background-image: url(/images/backgrounds/kanto/pwrplnt.png); }
.sfisle     { background-image: url(/images/backgrounds/kanto/sfisle.png); }
.pkmnmnsn     { background-image: url(/images/backgrounds/kanto/pkmnmnsn.png); }
.kvroad     { background-image: url(/images/backgrounds/kanto/kvroad.png); }
.ccave     { background-image: url(/images/backgrounds/kanto/ccave.png); }
.fish     { background-image: url(/images/backgrounds/kanto/fish.png); }

/* Johto */
.park     { background-image: url(/images/big_sprites/park.png); }
.glacier  { background-image: url(/images/big_sprites/glacier.png); }
.tower    { background-image: url(/images/big_sprites/tower.png); }

/* Hoenn */
.jungle   { background-image: url(/images/big_sprites/jungle.png); }
.sea      { background-image: url(/images/big_sprites/sea.png); }
.mountain { background-image: url(/images/big_sprites/mountain.png); }